### Ignore all files created by make
#
*.a
*.o
*.so
*.so.*
/example/iniexample
/example/parse
/example/iniwrite
/example/example.ini
# Autogenerate source file
/test/AllTests.c
/test/testrun
# CMake build directories
build*/
html/
